.advantages {
  padding: 109px 0;
  padding-bottom: 80px;
  max-width: 1500px;
  margin: auto;
}

.advantages ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.advantages__item {
  flex-basis: calc(51% - 30px);
  max-width: 730px;
  min-height: 299px;
  padding: 43px 40px 40px 41px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid $light-gray;
  border-left: 3px solid $blue;
  box-sizing: border-box;
  background-color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;
  }
}

.advantages__item svg {
  color: $blue;
}

.advantages__item:hover svg,
.advantages__item:focus svg {
  color: $white;
}

.advantages__item:nth-child(2n) {
  margin-right: 0;
}

.advantages__item h3 {
  margin-top: 14px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
}

.advantages__item:hover h3,
.advantages__item:focus h3 {
  color: $white;
}

.advantages__item p {
  margin-top: 14px;
}

@media (max-width: $tablet-width) {
  .advantages {
    padding: 54px 0;
    padding-bottom: 0;
  }

  .advantages__item {
    width: 47.8%;
    min-height: 232px;
    padding: 24px 20px 2px 24px;
  }

  .advantages__item h3 {
    margin-top: 1px;
  }

  .advantages__item p {
    margin-top: 9px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding: 37px 4%;
  }

  .advantages__item {
    flex: 1 0 100%;
    padding-bottom: 8px;
    padding-right: 21px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .advantages__item:nth-child(2) {
    padding-right: 5px;
  }

  .advantages__item h3 {
    margin-top: 6px;
    font-size: 20px;
    line-height: 28px;
  }
}
