.button {
  display: block;
  width: 185px;
  height: 45px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
}

.button--white {
  color: #ffffff;
  border-color: #ffffff;

  &:hover,
  &:focus {
    color: #ededed;
    border-color: #ededed;
  }
}

.button--blue {
  width: 180px;
  color: #00b2ff;
  border-color: #00b2ff;

  &:hover,
  &:focus {
    color: #0095d6;
    border-color: #0095d6;
  }

  &:active {
    color: #007eb5;
    border-color: #007eb5;
  }
}

.button--main {
  width: 407px;
  height: 55px;
  background-color: #00b2ff;
  font-size: 16px;
  line-height: 55px;
  border: none;

  &:hover,
  &:focus {
    background-color: #0095d6;
  }

  &:active {
    background-color: #007eb5;
  }
}

.button__only-mobile {
  display: none;
}

@media (max-width: 1023px) {
  .button--only-desktop {
    display: none;
  }

  .button--main {
    width: 379px;
  }
}

@media (max-width: 767px) {
  .button--main {
    width: 287px;
  }

  .button__mobile-hidden {
    display: none;
  }

  .button__only-mobile {
    display: inline;
  }
}
