.button {
  display: block;
  width: 185px;
  height: 45px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

.button--white {
  color: $white;
  border-color: $white;

  &:hover,
  &:focus {
    color: $light-gray;
    border-color: $light-gray;
  }
}

.button--blue {
  width: 180px;
  color: $blue;
  border-color: $blue;

  &:hover,
  &:focus {
    color: $medium-blue;
    border-color: $medium-blue;
  }

  &:active {
    color: $dark-blue;
    border-color: $dark-blue;
  }
}

.button--main {
  width: 407px;
  height: 55px;
  background-color: $blue;
  font-size: 16px;
  line-height: 55px;
  border: none;

  &:hover,
  &:focus {
    background-color: $medium-blue;
  }

  &:active {
    background-color: $dark-blue;
  }
}

.button__only-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .button--only-desktop {
    display: none;
  }

  .button--main {
    width: 379px;
  }
}

@media (max-width: $mobile-width) {
  .button--main {
    width: 287px;
  }

  .button__mobile-hidden {
    display: none;
  }

  .button__only-mobile {
    display: inline;
  }
}
