.form-block {
  padding-top: 92px;
  padding-bottom: 113px;
  background-color: #00b2ff;
  background-image:
    url("../img/paper_airplane.svg"),
    url("../img/triangles.svg"),
    url("../img/triangle-2.svg"),
    url("../img/triangle-1.svg");
  background-repeat: no-repeat;
  background-position:
    25% 160px,
    6% -51px,
    105.5% 209px,
    99% 90px;
  background-size:
    511px 288px,
    776px 722px,
    427px 404px,
    260px 260px;
}

.form-block > div {
  width: 610px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 18.2%;
  padding-left: 15px;
  padding-right: 25px;
  background-color: #00b2ff;
}

@media (max-width: 1023px) {
  .form-block {
    padding-top: 80px;
    padding-bottom: 104px;
    background: #00b2ff;
  }

  .form-block > div {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .form-block {
    padding-top: 30px;
    padding-bottom: 42px;
  }

  .form-block > div {
    padding: 0 4.5%;
  }
}
