.form-block {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 113px;
  background-color: $blue;
  background-image:
    url("../img/triangles.svg"),
    url("../img/paper_airplane.svg"),
    url("../img/triangle-2.svg"),
    url("../img/triangle-1.svg");
  background-repeat: no-repeat;
  background-position:
    6% -51px,
    calc((100% - 711px) / 2) 163px,
    105.5% 209px,
    99% 90px;
  background-size:
    776px 722px,
    50% 43%,
    427px 404px,
    260px 260px;
}

.form-block > div {
  display: flex;
  justify-content: space-between;
  flex-basis: 95%;
  max-width: 1174px;
  margin: auto;
}

.form-block form {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .form-block {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 104px;
    background: $blue;
  }

  .form-block > div {
    margin: 0;
    width: 100%;
  }

  .form-block form {
    margin: auto;
  }
}

@media (max-width: $mobile-width) {
  .form-block {
    padding-top: 30px;
    padding-bottom: 42px;
  }

  .form-block > div {
    padding: 0 4.5%;
  }
}
