.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form h2 {
  margin: 0;
  margin-left: -4px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
}

.form--popup h2 {
  font-size: 28px;
  line-height: 39px;
}

.form p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 9px;
  font-family: "PT Mono", "Cambria", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.form p:last-of-type {
  margin-top: 15px;
}

.form--popup p {
  padding-right: 20px;
  margin-top: 13px;
}

.form input,
.form textarea {
  color: $white;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: 1px solid $white;
  }

  &:active {
    outline: 1px solid $white;
  }
}

.form input[type="text"],
.form input[type="tel"] {
  width: 47%;
  height: 50px;
  padding: 14px;
  padding-left: 16px;
  margin-top: 40px;
}

.form--popup input[type="text"],
.form--popup input[type="tel"] {
  width: 100%;
  margin-top: 30px;
  padding-left: 22px;
}

.form textarea {
  width: 100%;
  height: 154px;
  padding: 12px;
  padding-left: 17px;
  margin-top: 40px;
  resize: none;
}

.form--popup textarea {
  height: 104px;
  margin-top: 30px;
  padding-top: 15px;
  padding-left: 23px;
}

.form input::placeholder,
.form textarea::placeholder {
  font-family: "PT Mono", "Cambria", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.form button {
  margin-top: 29px;
  width: 270px;
}

.form--popup button {
  margin-top: 35px;
  width: 100%;
}

.form input[type="checkbox"] + label {
  position: relative;
  width: 230px;
  padding-top: 39px;
  padding-left: 70px;
  font-family: "PT Mono", "Cambria", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.form--popup input[type="checkbox"] + label {
  padding-top: 35px;
  padding-left: 47px;
  width: 85%;
}

.form input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 38px;
  left: 38px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid $white;
  background-color: transparent;
}

.form--popup input[type="checkbox"] + label::before {
  top: 36px;
  left: -2px;
}

.form input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  top: 41px;
  left: 42px;
  z-index: 5;
  width: 7.5px;
  height: 4.5px;
  transform: rotate(-45deg);
  border-left: 1px solid $white;
  border-bottom: 1px solid $white;
}

.form--popup input[type="checkbox"]:checked + label::after {
  top: 39px;
  left: 2px;
}

.form input[type="checkbox"]:hover + label::before,
.form input[type="checkbox"]:focus + label::before,
.form input[type="checkbox"]:hover + label::after,
.form input[type="checkbox"]:focus + label::after,
.form input[type="checkbox"]:hover + label,
.form input[type="checkbox"]:focus + label {
  border-color: $light-gray;
  color: $white;
}

@media (max-width: $tablet-width) {
  .form {
    padding-left: 66px;
    padding-right: 62px;
    padding-top: 0;
  }

  .form h2 {
    font-size: 32px;
    line-height: 45px;
  }

  .form p {
    margin-top: 16px;
  }

  .form input[type="text"],
  .form input[type="tel"] {
    width: 47%;
    margin-top: 37px;
  }

  .form textarea {
    margin-top: 44px;
    height: 159px;
  }

  .form button {
    width: 279.88px;
    height: 46.65px;
  }

  .form input[type="checkbox"] + label {
    padding-right: 10px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    padding-left: 0;
    padding-right: 0;
  }

  .form h2 {
    margin: 0;
    font-size: 28px;
    line-height: 39px;
  }

  .form p {
    margin-top: -2px;
    flex-direction: column;
  }

  .form p:first-of-type {
    margin-top: 13px;
  }

  .form input[type="text"],
  .form input[type="tel"] {
    margin-top: 29px;
    width: 100%;
  }

  .form textarea {
    height: 104px;
    margin-top: 32px;
  }

  .form button {
    width: 100%;
    margin-top: 16px;
  }

  .form input[type="checkbox"] + label {
    padding-left: 35px;
    padding-top: 31px;
    width: 90%;
  }

  .form input[type="checkbox"] + label::before {
    top: 32px;
    left: 1px;
  }

  .form input[type="checkbox"]:checked + label::after {
    top: 35px;
    left: 4px;
  }
}
