.page-footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 52px 0;
  min-height: 317px;
  box-sizing: border-box;
  background-color: $footer-background;
}

.page-footer > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 95%;
  max-width: 1411px;
}

.page-footer p,
.page-footer__copyright a {
  display: flex;
  align-items: center;
  font-family: "PT Mono", "Cambria", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: $background;
  opacity: 0.5;
}

.page-footer h3 {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $background;
}

.page-footer__social {
  padding-top: 10px;
  width: 29%;
}

.page-footer__social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.page-footer__social-list li {
  margin-right: 16px;
}

.page-footer__social-list li:last-child {
  margin-right: 0;
}

.page-footer__social-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 32.5%;
  bottom: -51px;
  left: -5px;
}

.page-footer__navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 71%;
  padding-left: 12px;
  box-sizing: border-box;
}

.page-footer__navigation nav {
  flex-basis: 60%;
  flex-shrink: 0;
}

.page-footer__navigation ul {
  column-count: 2;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 55px;
  list-style: none;
}

.page-footer__navigation li {
  width: 100%;
}

.page-footer__address {
  flex-grow: 0;
  flex-basis: 33.8%;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.page-footer__address a {
  display: block;
}

.page-footer__navigation a,
.page-footer__address span {
  font-family: "PT Mono", "Cambria", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $background;
  opacity: 0.5;
  text-decoration: none;
}

.page-footer__copyright {
  position: absolute;
  bottom: -52px;
  right: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  width: 57.5%;
}

.page-footer__copyright a {
  margin-bottom: 13px;
}

.page-footer::after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #626962;
  opacity: 0.2;
}

.page-footer a[href]:hover,
.page-footer a[href]:focus {
  opacity: 0.8;
}

.page-footer a[href]:active {
  opacity: 0.7;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding: 11px 3.4%;
    padding-top: 7px;
    flex-direction: column;
  }

  .page-footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 45px;
  }

  .page-footer__social::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: -3.4%;
    right: 0;
    display: block;
    width: 106.8%;
    height: 1px;
    background-color: #626962;
    opacity: 0.2;
  }

  .page-footer__social-list {
    order: 2;
    margin-top: 0;
    max-width: 200px;
  }

  .page-footer__social-info {
    position: static;
    order: 1;
    flex-grow: 1;
    justify-content: center;
  }

  .page-footer__social-info p {
    padding-left: 14px;
    margin-top: 16px;
  }

  .page-footer__social-info p:first-child {
    display: none;
  }

  .page-footer__navigation {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 0;
  }

  .page-footer__navigation nav {
    flex-basis: 40%;
  }

  .page-footer__navigation ul {
    height: auto;
    column-count: 1;
  }

  .page-footer__address {
    flex-basis: 47.6%;
  }

  .page-footer__copyright {
    position: static;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
  }

  .page-footer__copyright a {
    margin-bottom: 12px;
    margin-top: 14px;
  }

  .page-footer::after {
    display: none;
  }

  .page-footer__navigation::after {
    content: "";
    position: absolute;
    bottom: -37px;
    left: -3.4%;
    right: 0;
    display: block;
    width: 106.8%;
    height: 1px;
    background-color: #626962;
    opacity: 0.2;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding: 13px 5.1%;
    padding-top: 35px;
  }

  .page-footer h3 {
    height: 74px;
    margin: 0;
    margin-top: -3px;
  }

  .page-footer__social {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
  }

  .page-footer__social-list {
    justify-content: center;
  }

  .page-footer__social-info {
    width: 100%;
  }

  .page-footer__social-info p {
    padding: 0;
    margin-top: 23px;
    margin-bottom: 30px;
  }

  .page-footer__navigation {
    flex-direction: column;
    margin-bottom: 13px;
  }

  .page-footer__address address {
    margin-bottom: 24px;
    margin-top: 4px;
  }

  .page-footer__copyright {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-footer__copyright a {
    margin-bottom: 7px;
  }

  .page-footer__social::after {
    left: -5.1%;
    bottom: -49px;
    width: 110%;
  }

  .page-footer__navigation nav {
    position: relative;
    flex-basis: 22%;
  }

  .page-footer__navigation ul {
    margin-bottom: 25px;
  }

  .page-footer__navigation nav::after {
    content: "";
    position: absolute;
    left: -5.1%;
    bottom: 1px;
    display: block;
    height: 1px;
    width: 110%;
    background-color: #626962;
    opacity: 0.2;
  }

  .page-footer__navigation::after {
    bottom: -3px;
    left: -5.1%;
    width: 110%;
  }
}
