.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 13.2%;
  background-color: #1b2d37;
}

.page-header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin-top: -15px;
}

.page-header__right a,
.page-header__right button {
  margin-top: 15px;
}

.page-header__right button {
  margin-right: 15px;
}

.page-header__right a:last-child,
.page-header__right button:last-child {
  margin-right: 0;
}

.page-header__email,
.page-header__phone {
  font-family: "PT Mono", "Cambria", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #ededed;
  }

  &:active {
    color: #c9c9c9;
  }
}

.page-header__email:hover path,
.page-header__email:focus path,
.page-header__phone:hover path,
.page-header__phone:focus path {
  fill: #0089c4;
}

.page-header__email:active path,
.page-header__phone:active path {
  fill: #003247;
}

.page-header__email svg,
.page-header__phone svg {
  margin-top: 5px;
}

.page-header__email {
  margin-right: 89px;
}

.page-header__email span {
  margin-left: 9px;
}

.page-header__phone {
  margin-right: 46px;
}

.page-header__phone span {
  margin-left: 6px;
}

@media (max-width: 1023px) {
  .page-header {
    padding: 18px 3.2%;
  }

  .page-header__right {
    max-width: 500px;
  }

  .page-header__right a {
    margin-right: 33px;
  }

  .page-header__right a:last-of-type {
    margin-right: 0;
  }

  .page-header__email span,
  .page-header__phone span {
    display: none;
  }

  .page-header__email svg {
    width: 25.33px;
    height: 18.67px;
    margin-top: 0;
  }

  .page-header__phone svg {
    width: 24px;
    height: 24px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .page-header {
    padding: 8px 5.3%;
  }

  .page-header__email {
    margin-right: 22px;
  }
}
