.popup {
  position: fixed;
  top: 136px;
  left: calc(50% - 245px);
  width: 490px;
  min-height: 605px;
  box-sizing: border-box;
  padding: 29px 41px;
  background-color: $blue;
  z-index: 10;
  overflow: hidden;
}

.popup--closed {
  display: none;
}

.popup__close-button {
  position: absolute;
  top: 18px;
  right: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup__close-button:hover,
.popup__close-button:focus,
.popup__close-button:active {
  outline: none;
  opacity: 0.5;
}
