$background: #1b2d37;
$footer-background: #fafafa;
$services-item-background: #26353d;
$blue: #00b2ff;
$medium-blue: #0095d6;
$dark-blue: #007eb5;
$white: #ffffff;
$gray: #666666;
$light-gray: #ebebeb;

$tablet-width: 1023px;
$mobile-width: 767px;
